{{define "item_component"}}
    <div>
        <input type="hidden" name="id" value="{{.ID}}"/>
        <button hx-target="closest div" hx-swap="outerHTML" hx-delete="/{{.ID}}">❌</button>
        <span {{if .Complete}} class="done" {{end}} hx-target="closest div" hx-swap="outerHTML" hx-post="/toggle/{{.ID}}">{{.Description}}</span>
    </div>
{{end}}