tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 1s ease-out;
}
.match {
    display: flex;
}
.container {
    display: flex;
}

.completed{
    text-decoration: line-through;
    color:darkgreen;
}

#reports tbody tr {
    cursor: pointer;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0 0 1em 0;
}
nav ul li {
    display: block;
    list-style: none;
    margin: 0em 1em 0em 0em;
}

section {
    width: 500px;
    margin: 1em auto;
}

body {
    font-family: 'Courier Prime', monospace;
    font-size: 20px;
    background-color: lightyellow;
}
table {
    border: solid 1px blueviolet;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 1em auto 1em auto;
}
table thead th {
    background-color: blueviolet;
    border: solid 1px white;
    color: white;
    padding: 10px;
    text-align: center;
}
table tbody td {
    border: solid 1px blueviolet;
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: 5em;
    margin: 0;
    padding: 0;
}

.sortable div {
    padding: 1em 0 1em 0;
    border-bottom: 4px dotted darkred;
}