section {
    width: 500px;
    margin: 1em auto;
}

body {
    font-family: 'Courier Prime', monospace;
    font-size: 20px;
    background-color: lightyellow;
}

h1 {
    text-align: center;
    font-size: 5em;
    margin: 0;
    padding: 0;
}

.done {
    text-decoration: line-through;
}

.sortable div {
    padding: 1em 0 1em 0;
    border-bottom: 4px dotted darkred;
}

div.dragClass {
    border-bottom: none;
}

label {
    display: flex;
}

label input {
    width: 100%;
    margin-left: 1em;
}

button {
    all: unset;
    cursor: pointer;
    font-size: 0.6em;
}

button:focus {
    outline: red 5px auto;
}