{{define "edit_todo"}}

        <form hx-patch="todos/{{.ID}}"
              hx-target="closest div"
              hx-swap="outerHTML"
            >
            <input type="text" name="name"
            value="{{.Description}}">
            <input type="submit">
        </form>
{{end}}